extends layout

block content

  h1 #{title}

  form(method='Post' action='')
    div.form-group
      label(for='name') Category:
      input#name(type='text', placeholder='RPG, FPS, Platformer etc.' name='name' value=(undefined===category  '' : category.name), required= 'true')
      label(for='description') Description:
      input#description(type='text', placeholder='Shoot shoot, bang bang.' name='description' value=(undefined===category ? '' : category.description), required= 'true')
    button(type='submit') Submit

  if errors
    ul
      for error in errors
        li! = error.msg
